html{
  background-color: #f5f6fa;
}
.App {
  text-align: center;
  border-radius: 4px;
  box-shadow: 69px 72px 409px 20px grey;
  background-color: #fafafa;
  width: 1196px;
  margin: 59px auto 107px auto;
  height: 1113px;
}
.formLine{
  margin: 35px 104px;
  border: solid 1px #e8e8e8;
}